<h1>Genome</h1>

<p>Parsed: {{ filename }}</p>

<p>Sex: {{ sex }}</p>
<p>Polymorphisms:</p>
<table border="1">
    <tr><th>Name</th><th>Paper</th><th>Person</th></tr>
    {% for snp, value in personal_snps.items %}
        <tr><td>{{ snp }}</td><td>{{ value.0 }}</td><td>{{ value.1 }}</td></tr>
    {% endfor %}
</table>

<hr>

<h1>Face</h1>

<p>All your face are belong to us!</p>

<p style="color:red">TODO: download <a href="{{ facemodel_url }}">this face</a> and drop here:</p>

<iframe src="http://masc.cs.gmu.edu/objviewerframe.html?width=780&height=480&dropable=1&url={{ facemodel_absolute_url }}" width="800" height="500" border="0"></iframe>

<hr>

<a href="/genome/">Back</a>